.form-control-primary {
  margin: 10px;
  /* opacity: 0.2; */
  border-radius: 2px;
  /* background-color: aliceblues; */
}

/* .sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  padding: 70px 0 0 10px;
  border-right: 1px solid #d3d3d3;
} */

/* .left-sidebar {
  position: sticky;
  top: 0;
  height: calc(100vh - 70px);
} */

/* .sidebar-nav li .nav-link {
  color: #333;
  font-weight: 500;
} */

/* main {
  padding-top: 90px;
}

main .card {
  margin-bottom: 20px;
} */

/* .custom {
  display: block;
  opacity: 0;
  color: darkred;
} */

/* .custom:hover,
.custom:focus {
  text-decoration: #333;
} */

.navbar-dark .navbar-nav .nav-link {
  color: bisque;
}

.border-input {
  border-width: 2px;
  border-style: solid;
}

.border-flex {
  border-width: 1.5px;
  border-style: solid;
}

#home {
  transform: translateX(-2px);
}

#home:hover {
  transform: scale(1.2);
}

html,
body {
  overflow-x: hidden;
}

.remove-bullets {
  list-style-type: none;
}

.listClass {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.sizingBtn {
  width: 80%;
  height: 3px;
}

.borderCustom {
  border: 0.007px solid grey;
}

.extraMargin {
  margin-left: 120px;
}

.separator {
  margin-top: 80px;
  margin-bottom: 80px;
}

.separator-feed {
  margin-top: 140px;
}

.newMargin {
  margin-bottom: 120px;
}

.newServiceInput {
  font-size: 18px;
}

.offerCardWidth {
  width: 18rem;
}

.newRegBorder {
  border: 1.5px solid black !important;
  border-radius: 0.25rem;
}

/* .changeService {
  font-size: 14px;
  height: 30px;
} */
