button {
  background-color: rgb(26, 29, 26) !important;
}

.text-underline-hover {
  text-decoration: underline;
}

.text-underline-hover:hover {
  text-decoration: underline;
}

.nav-link:hover {
  text-decoration: underline;
}

.navbar-brand {
  font-weight: 400;
}
.navbar-brand:hover {
  top: -2px;
}

h1 {
  color: white;
}

/* 
For CSS testing purposes
* {
  outline: 1px solid red;
} */
.row {
  margin: 0px;
}
html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  /* overflow-x: hidden; */
  background-color: rgb(31, 30, 30);
}

.remove-bullets {
  list-style-type: none;
}

.image-style {
  width: 213px;
  height: 148px;
}

.col-xl-3 .card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.25rem);
}

/* Align modal to the right */
.modal.right .modal-dialog {
  position: fixed;
  right: 0;
  margin-right: 0;
  margin-left: auto;
  width: 400px;
}

/* Add slide-out animation */
.modal-dialog-slideout {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal.show .modal-dialog-slideout {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.btn {
  /* overflow-x: hidden; */
  /* position: relative; */
  /* right: 150px; */
}

.btn-outline-success {
  /* overflow-x: hidden; */
  /* position: relative; */
  /* right: 150px; */
  /* width: max-content; */
}
.dropdown-menu {
  /* max-width: -webkit-fill-available;
 
  right: 0; */

  /* overflow: hidden; */
  /* max-width: 180px; */
}
.dropdown-menu input {
  /* max-width: -webkit-fill-available; */
  /* position: relative; */
  /* right: 80px; */
  /* max-height: 200px; 
  overflow-y: auto;  */
}

/* .modal-content {
  overflow-y: hidden;
} */

/* width */
::-webkit-scrollbar {
  width: 6px;
  /* background-color: black; */
}
.jumbotron {
  background: none;
}
.card {
  transform: scale(0.9);
}
.card-body {
  background-color: rgb(66, 66, 66);
}
.card-title {
  color: white;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgb(145, 145, 145);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(87, 87, 87);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* .text-success:hover {
  transition: ease-out;
} */

a {
  display: inline-block;
  transition: transform 0.2s ease-out;
}

a:hover {
  transform: translateX(-5px);
}

.footer-copyright a:hover {
  transform: scale(1.1);
}

i {
  display: inline-block;
  /* transition: transform 0.2s ease-out; */
}

i:hover {
  transform: scale(1.8);
  opacity: 0.7;
}

.navbar-brand {
}

.navbar-brand:hover {
  opacity: 0.7;
}

.website-info-card {
  height: 100% !important;
}

.extraIcon {
  font-size: 1.2em;
  transform: translateX(-5px);
}

.extraIcon:hover {
  transform: scale(1.1);
  text-decoration: underline;
  color: green;
}

.form-control {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  /* cursor: pointer; */
}

.form-check-input {
  cursor: pointer;
}
.btn-outline-light:hover {
  background-color: white !important;
}
.amendCard {
  /* display: flex;
  flex-direction: column; */
  /* height: 140px; */
  margin-bottom: 15px; /* set the margin between the cards */
  /* padding: 10px; set the padding of the card body */
  font-size: 14px; /* set the font size of the card text */
}

.amendCard img {
  /* object-fit: cover; */
  aspect-ratio: 9 / 6;
}

.carousel-item img {
  filter: brightness(0.7);
}

.separator {
  margin-top: 60px;
}

.separator-lite {
  margin-top: 40px;
}

.separator-both {
  margin-top: 120px;
  margin-bottom: 100px;
}

.separator-feed {
  margin-top: 140px;
}

input[type="text"],
input[type="text"]:active,
input[type="text"]:focus,
input[type="number"],
input[type="number"]:active,
input[type="number"]:focus,
input[type="email"],
input[type="email"]:active,
input[type="email"]:focus {
  background-color: #555;
  color: white;
}
.form-group label {
  color: white;
}
input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder {
  color: rgb(161, 161, 161);
}

/* Default styles for the textarea */
#exampleFormControlTextarea1 {
  background-color: #555;
  color: white;
  height: 100px;
  padding: 10px;
}

#exampleFormControlTextarea1::placeholder {
  color: rgb(161, 161, 161);
}

/* Media query for screens smaller than 576px */
@media (max-width: 575.98px) {
  #exampleFormControlTextarea1 {
    height: 80px;
    padding: 5px;
  }
}

/* Media query for screens between 576px and 767.98px */
@media (min-width: 576px) and (max-width: 767.98px) {
  #exampleFormControlTextarea1 {
    height: 120px;
    padding: 15px;
  }
}

/* Media query for screens larger than 768px */
@media (min-width: 768px) {
  #exampleFormControlTextarea1 {
    height: 150px;
    padding: 20px;
  }
}

.remove-bullets i {
  color: white;
}

.colored-bullet-list {
  list-style-type: none;
}
.colored-bullet-list li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: rgb(143, 143, 143); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em;
}
.stop-body-scroll {
  overflow: hidden;
  position: fixed;
}

/* @media (max-width: 767px) {
  .modal-dialog {
    max-height: 90vh;
  }
} */

@media (max-width: 575px) {
  /* Styles for devices with a maximum width of 450px */
  .workerCards .col-sm-6 {
    /* width: 50%; */
    padding: 0 10px; /* Optional, add some padding between the columns */
  }

  .marginBottom {
    margin-bottom: 90px;
  }

  /* .amendCard img {
    object-fit: cover;
    aspect-ratio: 5/8;
  } */

  /* .xPadding {
    padding-left: 6px;
    padding-right: 6px;
  } */

  .carouselHeight {
    height: 600px;
  }
}

@media only screen and (min-width: 120px) and (max-width: 574px) {
  .xPadding {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

/* .amendCard img {
  object-fit: cover;
  aspect-ratio: 5/3;
} */

.xPadding {
  padding-left: 76px;
  padding-right: 76px;
}

.carouselHeight {
  height: 500px;
}

#feed {
  height: 100%;
  resize: vertical;
}

.headingCol h1 {
  line-height: 1.7;
}

.headingCol {
  line-height: 1.7;
}

@media (max-width: 575px) {
  .headingCol {
    margin-bottom: 20px;
  }
}

#overviewDisplay {
  border: 0.005px solid grey;
}

.overviewText {
  line-height: 1.8;
}

.footerColor {
  background-color: rgb(66, 66, 66);
}

.editIconColor {
  /* color: #555; */
  color: aliceblue;
}

.editWorking {
  color: #555;
}

textarea {
  resize: none;
}

.crossSize {
  font-weight: lighter;
}

/* #validationCustom,
#validationCustom03 {
  background-color: #555 !important;
} */

.searchBox:hover {
  /* position: absolute; */
  /* width: 200px; */
  /* height: 300px;
  border: 1px solid #fff;
  top: 35px;
  left: -10px; */
}

.marginLeft {
  margin-left: 70px;
}

.carousel-image {
  max-height: 400px; /* Adjust the value to your desired height */
}

.imageSize {
  max-width: 100%;
}

/* .nameHeight {
  line-height: 1.2;
} */

.tableLayout {
  table-layout: fixed;
  width: 100%;
}

.forFlex {
  flex-wrap: wrap;
}

@media (max-width: 576px) {
  #align1 {
    overflow-x: scroll;
    white-space: nowrap;
  }
}

.workerCardFont {
  font-size: 0.8em;
}

/* .workerFontFamily {
  font-family: sans-serif;
} */
